.roster {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.roster .listContainer {
	padding: 10px;
}
details {
	padding: 10px;
	margin: 10px;
}
.roster .listItem {
	flex-direction: row;
}
@media screen and (min-width: 320px) {
	.filter-title {
		display: none;
	}
	.filter{
		height: 30vh;
	}
}
@media screen and (min-width: 800px){
	.filter-title{
		display: contents;
	}
	.filter{
		height: 10vh;
	}
}
