.filter{
    background-color: var(--ui-background-color);
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filter .inputGroup{
    justify-content: start;
    align-items: flex-start;
    width: auto;
} 