/* Main Menu -----------------------------------------------------------------------------------------------------------*/
#MainMenu {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background: var(--ui-background-color);
	color: var(--ui-text-color);
	max-width: 200px;
	height: 100%;
	transition: all 0.5s;
}
.MainMenu-hide {
	max-width: 0px !important;
	transition: all 0.3s;
	overflow: hidden;
	padding: 0px !important;
}
#MainMenuIconWrapper {
	padding: 10px;
	margin: 0px 10px 0px 10px;
	border: none;
	background-color: var(--ui-background-color);
	border-radius: 50%;
	outline: none;
}
#MainMenuIconWrapper img {
	/* swap icon color */
	filter: var(--menu-toggle-button-color);
}
#MainMenuIconWrapper:hover {
	background-color: rgb(124, 122, 122);
}
#MainMenuIconWrapper:focus {
	box-shadow: 0 0 3px 2px #3788d852;
}
#MainMenuIcon {
	outline: none;
}
.menuHeaderContainer {
	display: flex;
	flex-direction: row;
	font-size: 1em;
	justify-content: center;
	align-items: center;
}
.menuHeaderContainer h2 {
	text-decoration: underline;
	text-decoration-color: var(--main-text-color);
	font-size: 1em;
	text-decoration-style: double;
}
