.fc-button,
.fc-button-primary {
	border-radius: var(--border-rounded-corners);
}
.fc-button-group {
	display: flex;
	flex-wrap: wrap;
}
.fc-toolbar button {
	padding: 10px;
	margin: 0px;
	border-radius: 5px;
}
.fc-toolbar button:focus {
	color: #fff;
	background-color: #1a252f;
	border-color: #151e27;
}
.fc-nonbusiness.fc-bgevent {
	/* background-color: rgba(255, 0, 0, 0.521); */
	background-color: var(--main-background-color);
	opacity: 1;
}
.fc-bg {
	background-color: var(--ui-background-color);
}
.fc {
	color: var(--main-text-color);
}
.extEvents {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	background-color: var(--ui-background-color);
	align-items: center;
}

.extEvents-title {
	display: none;
}
.extEvents-title-mobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.extEvents-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	max-height: 0px;
	overflow: hidden;
}
.show {
	height: auto;
	max-height: 50vh;
	transition: max-height 1s;
	overflow: scroll;
	scrollbar-width: none;
}
.show::-webkit-scrollbar {
	display: none;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--ui-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
::-webkit-scrollbar-button {
	display: none;
}
.extEvents .fc-event {
	cursor: move;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.extWrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.fc-content {
	display: flex;
	align-items: center;
}
.fc-content .fc-title {
	width: 100%;
}
.calendarHeader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(90deg, var(--ui-background-color), var(--main-background-color) 70%);
}
.calendarHeader img {
	margin-right: 20px;
	min-height: 150px;
	min-width: 150px;
	max-height: 200px;
	max-width: 200px;
}
.fc-footer-toolbar button,
.fc-header-toolbar button {
	padding: 1rem 0rem 1rem 0rem;
}
#extEvents button {
	width: 100%;
}
#extEvents .fc-event {
	margin-top: 5px;
	margin-bottom: 10px;
}
.fc-event button {
	padding: 10px;
	width: 100%;
	margin: 0px;
}
.fc-button-primary {
	background-color: transparent !important;
	border-color: transparent !important;
}
.fc-event button:hover,
.fc-event button:focus,
.fc-event button:active {
	background-color: #569fff !important;
}
