
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.inner{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.App-header {
  text-align: left;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px; 
  padding: .5rem;
  border: solid 1px;
  border-left: none;
  border-right: none;
}
.App-header h1{
  margin: 0px;
}
.App-link {
  color: #09d3ac;
}
.main{
  display: flex;
  flex-direction: row;
  height: inherit;
min-height: inherit;
}
/* Main Menu */
#MainMenu{
  display:flex;
  flex-direction: column;
  padding: 1rem;
}
#MainMenu{
  background-color: aliceblue;
  min-width: 15vw;
}
.view{
  background-color:#eee;
  flex-grow: 8;
  padding: 1rem;
}
.wrapper{
  flex-grow: 8;
  height: 100%;
  min-height: inherit;
}
.MainMenu-button{
  border-radius: 10px;
  margin: 10px;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #3788d8;
  border: 0px;
  font-weight: bold;
}
/* Daily View */
.Available-List{
  text-align: left;
  list-style: none;
  font-weight: bold;
  padding: 10px;
  border-bottom: solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
}
.Available-List p{
  margin: 0;
  padding-left: 10px;;
}
#dateControl{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#dateButton {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #3788d8;
}
/* Dashboard View */
.metrics{
  text-align: left;
}
/* Faculty View */
#employees{
  text-align: left;
}
/* Media Queries */
@media screen and (max-width:1200px){
  #MainMenu{
    min-width: 20vh;
  }
}