/*Containers----------------------------------------------------------------------------------------------*/
.App {
  text-align: center;
  display: grid;
  grid-template-rows: 60px 95fr;
  min-height: 100vh;
  max-height: 100vh;
  color: rgba(255, 255, 255, 0.753);
  background-color: #202124;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.App-header,
header,
footer {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  text-align: left;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0.5rem;
}
#App-header-wrapper {
  display: flex;
  flex-direction: row;
}
.main {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.inner {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 95fr 50px;
  width: 100%;
  background-color: black;
}
.view {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 1rem;
}
/*Enable space for external events */
#CalendarWrap {
  display: grid;
  grid-template-columns: 200px 80fr;
}
#CalendarWrap .spacer {
  display: none;
}
.wrapper {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  width: 100%;
  flex-grow: 8;
  height: 80%;
}
.col {
  flex: 0 0 20%;
}
.colInn {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.App-header h1 {
  margin: 0px;
}

/*Buttons------------------------------------------------------------------------------------------------------------*/
.MainMenu-button,
.fc-footer-toolbar button,
.fc-header-toolbar button {
  color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: 10px;
  padding: 1rem 0rem 1rem 0rem;
  background-color: transparent;
  border: 0px;
  font-weight: bold;
  outline: none;
}
.MainMenu-button:hover,
.fc-footer-toolbar button:hover,
.fc-header-toolbar button:hover,
.MainMenu-button:focus {
  background-color: rgb(124, 122, 122);
  box-shadow: 0 0 0px 0px rgb(124, 122, 122);
}
/* Calendar ---------------------------------------------------------------------------------------------------*/
.fc-toolbar button {
  padding: 10px;
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
}
.fc-toolbar button:focus {
  color: #fff;
  background-color: #1a252f;
  border-color: #151e27;
}
.fc-nonbusiness.fc-bgevent {
  background: red;
}
.extEvents {
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #202124;
  overflow-y: scroll;
}
.extEvents .fc-event {
  margin: 1em 0;
  cursor: move;
}
#AddStudent {
  position: relative;
  display: block;
  font-size: 1.2em;
  line-height: 1.4;
  border-radius: 3px;
  border: 1px solid #3788d8;
  background-color: #3788d8;
  color: white;
  font-weight: bolder;
  outline: none;
}
#AddStudent:hover {
  color: black;
  background-color: #3788d852;
  border-color: #3788d852;
}
#AddStudent:focus {
  box-shadow: 0 0 3px 2px #3788d852;
}

/* Dashboard ------------------------------------------------------------------------------------------------- */
.metrics,
.forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 400px;
  flex-grow: 1;
  flex-shrink: 0;
}
.dashHeader {
  display: flex;
  justify-content: space-evenly;
}
.metrics {
  flex: 1 1 25%;
  max-width: 100%;
}
.chartWrap {
  display: block;
  height: 300px;
}
.formsWrap {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
summary h4 {
  margin: 0px;
  display: inline;
}
.EmpForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formGroup {
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 40vw;
}
.formGroup label {
  width: 50px;
}
.formGroup input {
  flex-grow: 1;
  padding: 5px;
  margin: 5px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.employee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0px;
}
.photoID {
  width: 200px;
  height: 200px;
  padding: auto;
  background-color: grey;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5px;
}
.phone {
  margin: 5px;
}
.postedHours {
  margin: 5px;
}

@media screen and (min-width: 1200px) {
  #CalendarWrap .spacer {
    display: block;
  }
  #CalendarWrap {
    display: grid;
    grid-template-columns: 300px 100px 80fr 100px;
    padding: 1rem;
  }
}
